:root {
    --ic-brand-primary-darkened-5: #3A78D1;
--ic-brand-primary-darkened-10: #3772C6;
--ic-brand-primary-darkened-15: #346CBB;
--ic-brand-primary-lightened-5: #4684DC;
--ic-brand-primary-lightened-10: #508ADE;
--ic-brand-primary-lightened-15: #5A91E0;
--ic-brand-button--primary-bgd-darkened-5: #3A78D1;
--ic-brand-button--primary-bgd-darkened-15: #346CBB;
--ic-brand-button--secondary-bgd-darkened-5: #2B3942;
--ic-brand-button--secondary-bgd-darkened-15: #27333B;
--ic-brand-font-color-dark-lightened-15: #4C5860;
--ic-brand-font-color-dark-lightened-30: #6C757C;
--ic-link-color-darkened-10: #3772C6;
--ic-link-color-lightened-10: #508ADE;
--ic-brand-primary: #3d7edb;
--ic-brand-font-color-dark: #2D3B45;
--ic-link-color: #3d7edb;
--ic-brand-button--primary-bgd: var(--ic-brand-primary);
--ic-brand-button--primary-text: #ffffff;
--ic-brand-button--secondary-bgd: #2D3B45;
--ic-brand-button--secondary-text: #ffffff;
--ic-brand-global-nav-bgd: #3d7edb;
--ic-brand-global-nav-ic-icon-svg-fill: #ffffff;
--ic-brand-global-nav-ic-icon-svg-fill--active: #31569c;
--ic-brand-global-nav-menu-item__text-color: #ffffff;
--ic-brand-global-nav-menu-item__text-color--active: #31569c;
--ic-brand-global-nav-avatar-border: #ffffff;
--ic-brand-global-nav-menu-item__badge-bgd: #e60e09;
--ic-brand-global-nav-menu-item__badge-text: #ffffff;
--ic-brand-global-nav-logo-bgd: #3d7edb;
--ic-brand-header-image: url('https://instructure-uploads.s3.amazonaws.com/account_89760000000000001/attachments/35800/icono-uc-512px.png');
--ic-brand-mobile-global-nav-logo: url('https://du11hjcvx0uqb.cloudfront.net/dist/images/mobile-global-nav-logo-aff8453309.svg');
--ic-brand-watermark: url('https://instructure-uploads.s3.amazonaws.com/account_89760000000000001/attachments/35798/icono-uc-512px.png');
--ic-brand-watermark-opacity: 1;
--ic-brand-favicon: url('https://instructure-uploads.s3.amazonaws.com/account_89760000000000001/attachments/34395/icono-uc-color.png');
--ic-brand-apple-touch-icon: url('https://instructure-uploads.s3.amazonaws.com/account_89760000000000001/attachments/34397/icono-ios-android-180x180.png');
--ic-brand-msapplication-tile-color: var(--ic-brand-primary);
--ic-brand-msapplication-tile-square: url('https://instructure-uploads.s3.amazonaws.com/account_89760000000000001/attachments/34398/icono-windows-558x558.png');
--ic-brand-msapplication-tile-wide: url('https://instructure-uploads.s3.amazonaws.com/account_89760000000000001/attachments/34399/icono-windows-558x270.png');
--ic-brand-right-sidebar-logo: url('https://instructure-uploads.s3.amazonaws.com/account_89760000000000001/attachments/35799/icono-uc-512px.png');
--ic-brand-Login-body-bgd-color: #394B58;
--ic-brand-Login-body-bgd-image: url('https://instructure-uploads.s3.amazonaws.com/account_89760000000000001/attachments/262/Casa_Central_Pontificia_Universidad_Catolica_de_Chile.JPG?AWSAccessKeyId=AKIAJFNFXH2V2O7RPCAA&Expires=1938195374&Signature=oqjhtwWavYrd3JDnbU8%2BEh9wyIA%3D&response-cache-control=Cache-Control%3Amax-age%3D473364000.0%2C%20public&response-expires=473364000.0');
--ic-brand-Login-body-bgd-shadow-color: #2D3B45;
--ic-brand-Login-logo: url('https://instructure-uploads.s3.amazonaws.com/account_89760000000000001/attachments/261/logo-uc-lineal-azul.png?AWSAccessKeyId=AKIAJFNFXH2V2O7RPCAA&Expires=1938195374&Signature=h2FL9EgcaLsCYR9qNuU2irRrx0M%3D&response-cache-control=Cache-Control%3Amax-age%3D473364000.0%2C%20public&response-expires=473364000.0');
--ic-brand-Login-Content-bgd-color: #ffffff;
--ic-brand-Login-Content-border-color: none;
--ic-brand-Login-Content-inner-bgd: #ffffff;
--ic-brand-Login-Content-inner-border: none;
--ic-brand-Login-Content-inner-body-bgd: #ffffff;
--ic-brand-Login-Content-inner-body-border: none;
--ic-brand-Login-Content-label-text-color: #3d7edb;
--ic-brand-Login-Content-password-text-color: #3d7edb;
--ic-brand-Login-footer-link-color: #3d7edb;
--ic-brand-Login-footer-link-color-hover: #3d7edb;
--ic-brand-Login-instructure-logo: #3d7edb;
  }